<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @record.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @record.date %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
